<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.historicalFigure.mapper.HistoricalFigureMapper">

    <select id="listAll" resultType="org.jeecg.modules.demo.historicalFigure.entity.HistoricalFigure">
	   select * from historical_figure
	</select>
</mapper>