<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.activityComment.mapper.ActivityCommentMapper">
    <select id="selectByActivityId" resultType="org.jeecg.modules.demo.activityComment.entity.ActivityComment">
        SELECT *
        FROM  activity_comment
        <where>
            1 = 1
            <if test="activityId != null and activityId != ''">
                and activity_id = #{activityId}
            </if>
        </where>
    </select>
</mapper>
